
.mainsito{
    background-color: rgb(255, 0, 64);
    height: 500px;
    
}
.asaidsito{
    background-color: yellow;
    height: 500px;
}

.menu{
    background-color: rgb(0, 102, 255);
    height: 100px;
}
.abajo{
    background-color: turquoise;
    height: 100px;
}


